*{
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-family: 'Press Start 2P', cursive;
}

body{
	background-color: #333333;
}

.wrapper{
	margin-left: auto;
	margin-right: auto;
}

header{
	width: 480px;
	font-size: 0;
	padding-top: 10%;
}

canvas{
	display: none;
	border-style: solid;
	border-width: 5px;
	border-color: #ff6d19;
	margin-top: 2%;
}

canvas:focus{
	outline: none;
}

h1{
	display: inline-block;
	width: 50%;
	font-size: 24px;
}

a{
	padding-top: 0.7%;
}

.score{
	display: inline-block;
	width: 50%;
	font-size: 18px;
	text-align: right;
}

#gameover a, #settings a, #menu a{
	display: block;
}

#gameover a:hover, #settings a:hover, #menu a:hover{
	cursor: pointer;
	color: #ff6d19;
}

#menu{
	display: block;
	widows: 480px;
	padding-top: 3%;
	padding-bottom: 2%;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#settings {
	display: none;
	widows: 480px;
	padding-top: 3%;
	padding-bottom: 2%;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#settings h2{
	margin-bottom: 2%;
}

#settings p{
	margin-top: 1.5%;
}

#settings input{
	display: none;
}

#settings label{
	cursor: pointer;
}

#settings input:checked + label{
	color: #ff6d19;
}

#gameover{
	display: none;
	widows: 480px;
	padding-top: 3%;
	padding-bottom: 2%;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#gameover h4{
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 18px;
}




